# MacOS stuff
.DS_Store

# IntelliJ IDEA stuff
.idea/
*.iml
*.ipr
*.iws

#Gradle stuff
___*/
.gradle
___*.gradle
build/

# Python stuff
*.pyc

# emacs stuff
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
*_flymake.*
flycheck_*.el

# vscode stuff
.vscode
.factorypath
*-ignored
out
_gsdata_

# Eclipse stuff
.project
.settings
.classpath

# misc stuff
*.bak
*.log
